:root {
  --red-color: rgb(131, 43, 91);
}
html {
  font-size: 14px;
}
.page {
  padding: 1rem 3rem 2rem;
  background-color: rgb(237, 239, 235);
}
.content {
  padding: 1rem 0.5rem;
  background-color: #fff;
}

.news__header {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-align-last: left;
  padding: 0.3rem;
}

.news__items {
  padding: 0.5rem 0;
  border-bottom: 1px dotted rgb(191, 147, 170);
  border-top: 1px dotted rgb(191, 147, 170);
}

.article {
  margin-top: 0.5rem;
}
.article__header {
  display: flex;
}

.article__date {
  background-color: var(--red-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article__title {
  margin-left: 0.3rem;
  color: blue;
  border-bottom: 1px solid blue;
  display: inline;
  font-size: 1.2rem;
}
.article__name {
  font-size: 1.2rem;
  color: black;
}
.article:first-child {
  margin-top: 0;
}
.article__text {
  margin-top: 0.5rem;
}

.news__pagination {
  margin-top: 0.5rem;
}
.pagination__title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.3rem 0;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
}
.pagination__item {
  background-color: grey;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 3px;
  margin: 2px;
  width: 1.6rem;
}

.pagination__item--clicked {
  background-color: var(--red-color);
}
